# Ignore all files and directories in the root
/*

# Un-ignore the Research_Portfolio directory and its contents
!/Research_Portfolio/
!/LOR_latex/
!/LOR2_latex/
!/LOR3_latex/
!/SOP_latex/
!/Latex CV/
!/PS_latex/
# Un-ignore .gitignore file itself
!.gitignore