/.dist
/Computer Scientist CV _ by Slidesgo.pptx
/CV.md
/CV_Final_US_Format.md
/github_ref
/Research_Portfolio.zip
/Temp_Images
/Trinh Xuan Thanh CV.pdf
/Trịnh_Xuân_Thành_UCDR_K67.jpg
/~$Computer Scientist CV _ by Slidesgo.pptx